/* @font-face { font-family: '標楷體'; src: url('kaiu.ttf') format('truetype');
} */
.container {
    width: 180mm; /* A4 紙張寬度 */
    height: 220mm; /* A4 紙張高度 */ 
    margin-left: auto; /* 將表格置中 */
    margin-right: auto; /* 將表格置中 */
    margin: 0 auto; /* 水平置中 */
    padding: 0mm; /* 設置容器內部的內距 */
  }
  .container_2 {
    width: 180mm; /* A4 紙張寬度 */
    margin-left: auto; /* 將表格置中 */
    margin-right: auto; /* 將表格置中 */
    /* height: 297mm; A4 紙張高度 */
    margin: 0 auto; /* 水平置中 */
    padding: 0mm; /* 設置容器內部的內距 */
  }

  table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    margin-top: 0mm; /* 將表格往上移 */
    margin-left: auto; /* 將表格置中 */
    margin-right: auto; /* 將表格置中 */
    border-spacing: 0; /* 設置表格的邊距 */
    /* font-size: 18px; 設置特定儲存格的字體大小 */
    border: none; /*將表格的邊框修改成無 */
  }

  .table_2 {
    border-collapse: collapse;
    width: 100%; /* A4 紙張寬度 */
    margin-top: 0mm; /* 將表格往上移 */
    margin-left: auto; /* 將表格置中 */
    margin-right: auto; /* 將表格置中 */
    border-spacing: 2px; /* 設置表格的邊距 */
    border: 2px solid black; /* 將表格的邊框修改成黑色 */
  }

  td {
    padding: 0px; /* 設置儲存格的內距 */
    border: 1px solid black; /*設置儲存格的邊框 */
    text-align: center; /*將文字置中 */
    font-size: 11px; /* 設置字體大小 */
    font-family: '標楷體', sans-serif;
    /* width: calc(100% / 8); 設置每個儲存格的寬度 */
    /* width: calc(210mm / 8); */
    width: 26.25mm;
   height: 4.5mm; 
  }

  .company-text {
    font-size: 26px; /* 設置特定儲存格的字體大小 */
    font-family: "標楷體"; /* 設置文字的字型 */
    font-weight: bold; /* 設置文字為粗體 */
  }
  .address-text {
    font-size: 18px; /* 設置特定儲存格的字體大小 */
    text-align: left; /* 將文字靠左排列 */
    font-family: "標楷體"; /* 設置文字的字型 */
    font-weight: bold; /* 設置文字為粗體 */
  }
  .left-align {
    font-size: 15px; /* 設置特定儲存格的字體大小 */
    text-align: left; /* 將文字靠左排列 */
    font-family: "標楷體"; /* 設置文字的字型 */
    font-weight: bold; /* 設置文字為粗體 */
  }
  .right-align {
    font-size: 15px; /* 設置特定儲存格的字體大小 */
    text-align: right; /* 將文字靠右排列 */
    font-family: "標楷體"; /* 設置文字的字型 */
    font-weight: bold; /* 設置文字為粗體 */
  }
  .center-align {
    font-size: 15px; /* 設置特定儲存格的字體大小 */
    text-align: center; /* 將文字置中排列 */
    font-family: "標楷體"; /* 設置文字的字型 */
    font-weight: bold; /* 設置文字為粗體 */
  }
  .input-box {
    width: 90%; /* 設置輸入框的寬度 */
    height: 80%; /* 設置輸入框的高度 */
    padding: 1px; /* 設置輸入框的內距 */
    font-family: "標楷體"; /* 設置文字的字型 */
    border: none; /* 將表格的邊框修改成無 */
  }
  .input-textarea {
    width: 90%; /* 設置輸入框的寬度 */
    height: 25mm; /* 設置輸入框的高度 */
    padding: 1px; /* 設置輸入框的內距 */
    font-family: "標楷體"; /* 設置文字的字型 */
    border: none; /* 將表格的邊框修改成無 */
    white-space: pre-wrap; /* 設置文字換行 */
    word-break: break-all; /* 設置文字在到達邊界時自動斷行 */
   
  }
  .check-box {
    width: 12px; /* 設置輸入框的寬度 */
    height: 12px; /* 設置輸入框的高度 */
    padding: 2px; /* 設置輸入框的內距 */
    border: none; /* 將表格的邊框修改成無 */
  }
  select {
    width: 100%;
    padding: 2px;
    border: none;
    appearance: none; /* 將下拉選單的箭頭覆蓋掉 */
    font-family: "標楷體"; /* 設置文字的字型 */
  }
  #signatureCanvas {
    border: 1px solid black;
  }

  